.searchbar {
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 320px;

  &__form {
    display: flex;
    position: relative;

    &.horizontal {
      flex-direction: row;

    .btn {
      margin-left: 1em;
    }
  }

  &.vertical {
    flex: 1;
    flex-direction: column;

      .btn {
        margin-top: 1em;
      }
    }
  }

  &__field {
    width: 100%;
    border-radius: 5px;
    color: var(--text);
    padding: 1.5em 1em;
    outline: 1px solid transparent;
    border: 2px solid transparent;

    &.error-input {
      border-color: var(--error);
    }

    &:focus {
      border-color: var(--select);
    }
  }

  .error {
    color: var(--error);
    font-size: 10px;
    position: absolute;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .btn {
    align-self: center;
    transition: all .1s;
    min-width: 110px;

    &.success:hover {
      box-shadow: 6px 0 15px 0 rgba(0, 0, 0, 0.2);
      transform: translateY(-2px);
    }

    &.success:active {
      box-shadow: 3px 0 15px 0 rgba(0, 0, 0, 0.2);
      transform: translateY(-1px);
    }
  } 
}