{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "eslintIntegration": false,
  "ignorePath": ".prettierignore",
  "jsxBracketSameLine": false,
  "parser": "babylon",
  "printWidth": 120,
  "proseWrap": "preserve",
  "requireConfig": false,
  "semi": false,
  "singleQuote": true,
  "stylelintIntegration": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "tslintIntegration": true,
  "useTabs": false
}
