.detailed-forecast {
  display: inline-flex;
  box-shadow: 3px 0 15px 0 rgba(0, 0, 0, 0.2);
  background: white;
  color: var(--text);
  margin: 1em;
  border-radius: 10px;
  padding: 2em 4em;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__header {
    text-align: center;
    margin-bottom: 1em;
  }

  svg {
    margin-bottom: .5em;
  }

  p {
    margin: .5em;
  }
}